html {
  box-sizing: border-box;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-size: 16px;
}

h2 {
  font-size: 1.5rem;
  @media screen and (min-width: 50rem) {
    font-size: 2.4rem;
  }
}

p {
  margin: 0;
}


button,
input,
textarea {
  font-family: inherit;
}


menu,
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mouse-user * {
  outline: none;
}

img {
  max-width: 100%;
}
